{
  "openapi": "3.0.1",
  "info": {
    "title": "freee API",
    "description": "\n<h1 id=\"freee_api\">freee API</h1>\n<hr />\n<h2 id=\"\">スタートガイド</h2>\n\n<p>freee API開発がはじめての方は<a href=\"https://developer.freee.co.jp/getting-started\">freee API スタートガイド</a>を参照してください。</p>\n\n<hr />\n<h2 id=\"_2\">仕様</h2>\n\n<h3 id=\"api\">APIエンドポイント</h3>\n\n<p>https://api.freee.co.jp/ (httpsのみ)</p>\n\n<h3 id=\"_3\">認証方式</h3>\n\n<p><a href=\"http://tools.ietf.org/html/rfc6749\">OAuth2</a>に対応</p>\n\n<ul>\n<li>Authorization Code Flow (Webアプリ向け)</li>\n\n<li>Implicit Flow (Mobileアプリ向け)</li>\n</ul>\n\n<h3 id=\"_4\">認証エンドポイント</h3>\n\n<p>https://accounts.secure.freee.co.jp/</p>\n\n<ul>\n<li>authorize : https://accounts.secure.freee.co.jp/public_api/authorize</li>\n\n<li>token : https://accounts.secure.freee.co.jp/public_api/token</li>\n</ul>\n\n<h3 id=\"_5\">アクセストークンのリフレッシュ</h3>\n\n<p>認証時に得たrefresh_token を使ってtoken の期限をリフレッシュして新規に発行することが出来ます。</p>\n\n<p>grant_type=refresh_token で https://accounts.secure.freee.co.jp/public_api/token にアクセスすればリフレッシュされます。</p>\n\n<p>e.g.)</p>\n\n<p>POST: https://accounts.secure.freee.co.jp/public_api/token</p>\n\n<p>params: grant_type=refresh_token&amp;client_id=UID&amp;client_secret=SECRET&amp;refresh_token=REFRESH_TOKEN</p>\n\n<p>詳細は<a href=\"https://github.com/applicake/doorkeeper/wiki/Enable-Refresh-Token-Credentials#flow\">refresh_token</a>を参照下さい。</p>\n\n<h3 id=\"_6\">アクセストークンの破棄</h3>\n\n<p>認証時に得たaccess_tokenまたはrefresh_tokenを使って、tokenを破棄することができます。 token=access_tokenまたはtoken=refresh_tokenでhttps://accounts.secure.freee.co.jp/public_api/revokeにアクセスすると破棄されます。token_type_hintでaccess_tokenまたはrefresh_tokenを陽に指定できます。</p>\n\n<p>e.g.)</p>\n\n<p>POST: https://accounts.secure.freee.co.jp/public_api/revoke</p>\n\n<p>params: token=ACCESS_TOKEN</p>\n\n<p>または</p>\n\n<p>params: token=REFRESH_TOKEN</p>\n\n<p>または</p>\n\n<p>params: token=ACCESS_TOKEN&amp;token_type_hint=access_token</p>\n\n<p>または</p>\n\n<p>params: token=REFRESH_TOKEN&amp;token_type_hint=refresh_token</p>\n\n<p>詳細は <a href=\"https://tools.ietf.org/html/rfc7009\">OAuth 2.0 Token revocation</a> をご参照ください。</p>\n\n<h3 id=\"_7\">データフォーマット</h3>\n\n<p>リクエスト、レスポンスともにJSON形式をサポート</p>\n\n<h3 id=\"_8\">後方互換性ありの変更</h3>\n\n<p>freeeでは、APIを改善していくために以下のような変更は後方互換性ありとして通知なく変更を入れることがあります。アプリケーション実装者は以下を踏まえて開発を行ってください。</p>\n\n<ul>\n<li>新しいAPIリソース・エンドポイントの追加</li>\n<li>既存のAPIに対して必須ではない新しいリクエストパラメータの追加</li>\n<li>既存のAPIレスポンスに対する新しいプロパティの追加</li>\n<li>既存のAPIレスポンスに対するプロパティの順番の入れ変え</li>\n<li>keyとなっているidやcodeの長さの変更（長くする）</li>\n</ul>\n\n<h3 id=\"_9\">共通レスポンスヘッダー</h3>\n\n<p>すべてのAPIのレスポンスには以下のHTTPヘッダーが含まれます。</p>\n\n<ul>\n<li>\n<p>X-Freee-Request-ID</p>\n<ul>\n<li>各リクエスト毎に発行されるID</li>\n</ul>\n</li>\n</ul>\n\n<h3 id=\"_10\">共通エラーレスポンス</h3>\n\n<ul>\n<li>\n<p>ステータスコードはレスポンス内のJSONに含まれる他、HTTPヘッダにも含まれる</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>status : HTTPステータスコードの説明</li>\n\n<li>validation : エラーの詳細の説明（開発者向け）</li>\n</ul>\n</li>\n</ul>\n\n<p>レスポンスの例</p>\n\n<pre><code>  {\n    &quot;status_code&quot; : 400,\n    &quot;errors&quot; : [\n      {\n        &quot;type&quot; : &quot;status&quot;,\n        &quot;messages&quot; : [&quot;不正なリクエストです。&quot;]\n      },\n      {\n        &quot;type&quot; : &quot;validation&quot;,\n        &quot;messages&quot; : [&quot;Date は不正な日付フォーマットです。入力例：2013-01-01&quot;]\n      }\n    ]\n  }</code></pre>\n\n</br>\n\n<h3 id=\"_11\">API使用制限</h3>\n\n  <p>freeeは一定期間に過度のアクセスを検知した場合、APIアクセスをコントロールする場合があります。</p>\n  <p>その際のhttp status codeは403となります。制限がかかってから10分程度が過ぎると再度使用することができるようになります。</p>\n\n<h4 id=\"_12\">/reportsエンドポイント</h4>\n\n<p>freeeは/reportsエンドポイントに対して1秒間に10以上のアクセスを検知した場合、APIアクセスをコントロールする場合があります。その際のhttp status codeは429（too many requests）となります。</p>\n\n<p>レスポンスボディのmetaプロパティに以下を含めます。</p>\n\n<ul>\n  <li>設定されている上限値</li>\n  <li>上限に達するまでの使用可能回数</li>\n  <li>（上限値に達した場合）使用回数がリセットされる時刻</li>\n</ul>\n\n<h3 id=\"_13\">プラン別のAPI Rate Limit</h3>\n  <table border=\"1\">\n    <tbody>\n      <tr>\n        <th style=\"padding: 10px\"><strong>会計freeeプラン名</strong></th>\n        <th style=\"padding: 10px\"><strong>事業所とアプリケーション毎に1日でのAPIコール数</strong></th>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px\">エンタープライズ</td>\n        <td style=\"padding: 10px\">10,000</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px\">プロフェッショナル</td>\n        <td style=\"padding: 10px\">5,000</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px\">ベーシック</td>\n        <td style=\"padding: 10px\">3,000</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px\">ミニマム</td>\n        <td style=\"padding: 10px\">3,000</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px\">上記以外</td>\n        <td style=\"padding: 10px\">3,000</td>\n      </tr>\n    </tbody>\n  </table>\n\n<hr />\n<h2 id=\"_14\">連絡先</h2>\n\n<p>ご不明点、ご要望等は <a href=\"https://support.freee.co.jp/hc/ja/requests/new\">freee サポートデスクへのお問い合わせフォーム</a> からご連絡ください。</p>\n<hr />&copy; Since 2013 freee K.K.",
    "version": "v1.0",
    "x-copyright": "&copy; Since 2013 freee K.K."
  },
  "servers": [
    {
      "url": "https://api.freee.co.jp"
    }
  ],
  "security": [
    {
      "oauth2": ["write", "read"]
    }
  ],
  "tags": [
    {
      "name": "Partners",
      "description": "\n<p>取引先</p>\n"
    },
    {
      "name": "Selectables",
      "description": "\n<p>フォーム用選択項目情報</p>\n"
    },
    {
      "name": "Account items",
      "description": "\n<p>勘定科目</p>\n"
    },
    {
      "name": "Tags",
      "description": "\n<p>メモタグ</p>\n"
    },
    {
      "name": "Sections",
      "description": "\n<p>部門</p>\n"
    },
    {
      "name": "Invoices",
      "description": "\n<p>請求書</p>\n"
    },
    {
      "name": "Deals",
      "description": "\n<p>取引（収入／支出）</p>\n"
    },
    {
      "name": "Payments",
      "description": "\n<p>取引の支払行</p>\n"
    },
    {
      "name": "Renews",
      "description": "\n<p>取引の+更新</p>\n"
    },
    {
      "name": "ManualJournals",
      "description": "\n<p>振替伝票</p>\n"
    },
    {
      "name": "Users",
      "description": "\n<p>ユーザ</p>\n"
    },
    {
      "name": "Companies",
      "description": "\n<p>事業所</p>\n"
    },
    {
      "name": "Items",
      "description": "\n<p>品目</p>\n"
    },
    {
      "name": "Taxes",
      "description": "\n<p>税区分</p>\n"
    },
    {
      "name": "Walletables",
      "description": "\n<p>口座</p>\n"
    },
    {
      "name": "Banks",
      "description": "\n<p>連携サービス</p>\n"
    },
    {
      "name": "Transfers",
      "description": "\n<p>取引（振替）</p>\n"
    },
    {
      "name": "Wallet txns",
      "description": "\n<p>明細</p>\n"
    },
    {
      "name": "Journals",
      "description": "\n<p>仕訳帳</p>\n"
    },
    {
      "name": "Trial balance",
      "description": "\n<p>試算表</p>\n"
    },
    {
      "name": "Receipts",
      "description": "\n<p>ファイルボックス</p>\n"
    },
    {
      "name": "Expense applications",
      "description": "\n<p>経費精算</p>\n"
    },
    {
      "name": "Expense application line templates",
      "description": "\n<p>経費科目</p>\n"
    },
    {
      "name": "Segment tags",
      "description": "\n<p>セグメントタグ</p>\n"
    },
    {
      "name": "Quotations",
      "description": "\n<p>見積書</p>      \n"
    }
  ],
  "paths": {
    "/api/1/partners": {
      "get": {
        "tags": ["Partners"],
        "summary": "取引先一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先一覧を取得する</p>\n<ul>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>",
        "operationId": "get_partners",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 3000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3000
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "検索キーワード：取引先名・正式名称・カナ名称に対するあいまい検索で一致、またはショートカットキー1・2のいずれかに完全一致",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Partners"],
        "summary": "取引先の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先を作成する</p>\n<ul>\n<li>codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>\n<li>取引先コードの利用を有効にしている場合は、codeの指定は必須です。</li>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes, 請求の入金期日設定（invoice_payment_term_attributes）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>",
        "operationId": "create_partner",
        "requestBody": {
          "description": "取引先の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerCreateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/partners/{id}": {
      "get": {
        "tags": ["Partners"],
        "summary": "取引先の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先を取得する</p>\n<ul>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes, 請求の入金期日設定（invoice_payment_term_attributes）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>",
        "operationId": "get_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Partners"],
        "summary": "取引先の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した取引先の情報を更新する</p>\n<ul>\n<li>codeを指定、更新することはできません。</li>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes, 請求の入金期日設定（invoice_payment_term_attributes）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>",
        "operationId": "update_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "取引先の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Partners"],
        "summary": "取引先の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先を削除する</p>",
        "operationId": "destroy_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/partners/code/{code}": {
      "put": {
        "tags": ["Partners"],
        "summary": "取引先の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>取引先コードをキーに、指定した取引先の情報を更新する</p>\n<ul>\n<li>このAPIを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>\n<li>コードを日本語に設定している場合は、URLエンコードしてURLに含めるようにしてください。</li>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes, 請求の入金期日設定（invoice_payment_term_attributes）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>",
        "operationId": "update_partner_by_code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "取引先コード",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "取引先の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/forms/selectables": {
      "get": {
        "tags": ["Selectables"],
        "summary": "フォーム用選択項目情報の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のフォーム用選択項目情報を取得する</p>",
        "operationId": "get_forms_selectables",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "取得する項目(項目: account_item)",
            "schema": {
              "type": "string",
              "enum": ["account_item"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/selectablesIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/account_items/{id}": {
      "get": {
        "tags": ["Account items"],
        "summary": "勘定科目の詳細情報の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した勘定科目の詳細を取得する</p>",
        "operationId": "get_account_item",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "勘定科目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Account items"],
        "summary": "勘定科目の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>勘定科目を更新する</p>",
        "operationId": "update_account_item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "勘定科目の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountItemParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/accountItemParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Account items"],
        "summary": "勘定科目の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した勘定科目を削除する</p>\n<h2 id=\"\">注意点</h2>\n<ul>\n<li>削除できる勘定科目は、追加で作成したカスタム勘定項目のみです。</li>\n<li>デフォルトで存在する勘定科目や口座の勘定科目は削除できません。</li></ul>",
        "operationId": "destroy_account_item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/account_items": {
      "get": {
        "tags": ["Account items"],
        "summary": "勘定科目一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の勘定科目一覧を取得する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>default_tax_id : デフォルト設定がされている税区分ID</li>\n\n<li>default_tax_code : リクエストした日時を基準とした税区分コード</li>\n</ul>",
        "operationId": "get_account_items",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "base_date",
            "in": "query",
            "description": "基準日:指定した場合、勘定科目に紐づく税区分(default_tax_code)が、基準日の税率に基づいて返ります。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Account items"],
        "summary": "勘定科目の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の勘定科目を作成する</p>",
        "operationId": "create_account_item",
        "requestBody": {
          "description": "勘定科目の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountItemParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/accountItemParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "メモタグ一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグ一覧を取得する</p>",
        "operationId": "get_tags",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["tags"],
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tagResponse/properties/tag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Tags"],
        "summary": "メモタグの作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを作成する</p>",
        "operationId": "create_tag",
        "requestBody": {
          "description": "メモタグの作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/tags/{id}": {
      "get": {
        "tags": ["Tags"],
        "summary": "メモタグの詳細情報の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを取得する</p>",
        "operationId": "get_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "タグID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Tags"],
        "summary": "メモタグの更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを更新する</p>",
        "operationId": "update_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "メモタグID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "メモタグの更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Tags"],
        "summary": "メモタグの削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを削除する</p>",
        "operationId": "destroy_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "タグID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/sections": {
      "get": {
        "tags": ["Sections"],
        "summary": "部門一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門一覧を取得する</p>\n\n<h2 id=\"_2\">レスポンスの例</h2>\n\n<blockquote>\n<p>GET https://api.freee.co.jp/api/1/sections?company_id=1</p>\n</blockquote>\n\n<pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）\n{\n  &quot;sections&quot; : [\n    {\n      &quot;id&quot; : 101,\n      &quot;company_id&quot; : 1,\n      &quot;name&quot; : &quot;開発部門&quot;,\n      &quot;long_name&quot;: &quot;開発部門&quot;,\n      &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n      &quot;shortcut2&quot; : &quot;123&quot;,\n      &quot;indent_count&quot;: 1,\n      &quot;parent_id&quot;: 11\n    },\n    ...\n  ]\n}\n// それ以外のプラン\n{\n  &quot;sections&quot; : [\n    {\n      &quot;id&quot; : 101,\n      &quot;company_id&quot; : 1,\n      &quot;name&quot; : &quot;開発部門&quot;,\n      &quot;long_name&quot;: &quot;開発部門&quot;,\n      &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n      &quot;shortcut2&quot; : &quot;123&quot;\n    },\n    ...\n  ]\n}</code></pre>\n",
        "operationId": "get_sections",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["sections"],
                  "properties": {
                    "sections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sectionResponse/properties/section"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Sections"],
        "summary": "部門の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を作成する</p>\n\n<h2 id=\"_2\">レスポンスの例</h2>\n\n<pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;,\n    &quot;indent_count&quot;: 1,\n    &quot;parent_id&quot;: 101\n  }\n}\n// それ以外のプラン\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;\n  }\n}</code></pre>\n",
        "operationId": "create_section",
        "requestBody": {
          "description": "部門の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/sections/{id}": {
      "get": {
        "tags": ["Sections"],
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を参照する</p><h2 id=\"_2\">レスポンスの例</h2>\n\n<pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;,\n    &quot;indent_count&quot;: 1,\n    &quot;parent_id&quot;: 101\n  }\n}\n// それ以外のプラン\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;\n  }\n}</code></pre>\n",
        "operationId": "get_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "部門ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Sections"],
        "summary": "部門の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を更新する</p><h2 id=\"_2\">レスポンスの例</h2>\n\n<pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;,\n    &quot;indent_count&quot;: 1,\n    &quot;parent_id&quot;: 101\n  }\n}\n// それ以外のプラン\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;\n  }\n}</code></pre>\n",
        "operationId": "update_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "部門の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Sections"],
        "summary": "部門の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を削除する</p>",
        "operationId": "destroy_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/invoices": {
      "get": {
        "tags": ["Invoices"],
        "summary": "請求書一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書一覧を取得する</p>\n",
        "operationId": "get_invoices",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issue_date_start",
            "in": "query",
            "description": "請求日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issue_date_end",
            "in": "query",
            "description": "請求日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "due_date_start",
            "in": "query",
            "description": "期日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "due_date_end",
            "in": "query",
            "description": "期日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_number",
            "in": "query",
            "description": "請求書番号",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "概要",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_status",
            "in": "query",
            "description": "請求書ステータス  (draft: 下書き, applying: 申請中, remanded: 差し戻し, rejected: 却下, approved: 承認済み, issued: 発行済み, unsubmitted: 送付待ち)",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "applying",
                "remanded",
                "rejected",
                "approved",
                "issued",
                "unsubmitted"
              ]
            }
          },
          {
            "name": "payment_status",
            "in": "query",
            "description": "入金ステータス  (unsettled: 入金待ち, settled: 入金済み)",
            "schema": {
              "type": "string",
              "enum": ["unsettled", "settled"]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 100) ",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["invoices"],
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invoiceResponse/properties/invoice"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Invoices"],
        "summary": "請求書の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書を作成する</p>\n\n<h2 id=\"_1\">注意点</h2>\n<ul>\n<li> <p>partner_code, partner_idはどちらかの指定が必須です。ただし両方同時に指定することはできません。</p> </li>\n<li> <p>請求書ステータス(invoice_status)を発行(issue)で利用した場合、請求内容の合計金額が0円以上になる必要があります。</p> </li>\n<li> <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</p> </li>\n</ul>",
        "operationId": "create_invoice",
        "requestBody": {
          "description": "請求書の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invoiceCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/invoiceCreateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/invoices/{id}": {
      "get": {
        "tags": ["Invoices"],
        "summary": "請求書の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書詳細を取得する</p>",
        "operationId": "get_invoice",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "請求書ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Invoices"],
        "summary": "請求書の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書を更新する</p>\n\n<h2 id=\"_1\">注意点</h2>\n<ul>\n<li> <p>入金済みの請求書に対する金額関連の変更はできません。</p> </li>\n<li> <p>請求書ステータスは確定(issue)のみ指定可能です。請求書ステータスを確定する時のみ指定してください。</p> </li>\n<li> <p>請求書WFを利用している場合、承認済み請求書は承認権限を持たないユーザーでは更新できません。</p> </li>\n<li> <p>更新後の請求書ステータス(invoice_status)が下書き以外の場合、請求内容の合計金額が0円以上になる必要があります。</p> </li>\n<li> <p>partner_code, partner_idを両方同時に指定することはできません。</p> </li>\n<li> <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</p> </li>\n</ul>",
        "operationId": "update_invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "請求書ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "請求書の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invoiceUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/invoiceUpdateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Invoices"],
        "summary": "請求書の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書を削除する</p>",
        "operationId": "destroy_invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/quotations": {
      "get": {
        "tags": ["Quotations"],
        "summary": "見積書一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の見積書一覧を取得する</p>\n",
        "operationId": "get_quotations",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "maximum": 2147483647,
              "type": "integer"
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_issue_date",
            "in": "query",
            "description": "見積日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_issue_date",
            "in": "query",
            "description": "見積日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotation_number",
            "in": "query",
            "description": "見積書番号",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "概要",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotation_status",
            "in": "query",
            "description": "見積書ステータス  (unsubmitted: 送付待ち, submitted: 送付済み, all: 全て)",
            "schema": {
              "type": "string",
              "enum": ["all", "unsubmitted", "submitted"]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 100) ",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["quotations"],
                  "properties": {
                    "quotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/quotationResponse/properties/quotation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Quotations"],
        "summary": "見積書の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の見積書を作成する</p>\n\n<h2 id=\"_1\">注意点</h2>\n<ul>\n<li> <p>partner_code, partner_idはどちらかの指定が必須です。ただし両方同時に指定することはできません。</p> </li>\n<li> <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</p> </li>\n</ul>",
        "operationId": "create_quotation",
        "requestBody": {
          "description": "見積書の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/quotationCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/quotationCreateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/quotations/{id}": {
      "get": {
        "tags": ["Quotations"],
        "summary": "見積書の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の見積書詳細を取得する</p>",
        "operationId": "get_quotation",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "見積書ID",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Quotations"],
        "summary": "見積書の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の見積書を更新する</p>\n\n<h2 id=\"_1\">注意点</h2>\n<ul>\n<li> <p>partner_code, partner_idを両方同時に指定することはできません。</p> </li>\n<li> <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</p> </li>\n</ul>",
        "operationId": "update_quotation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "見積書ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "見積書の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/quotationUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/quotationUpdateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Quotations"],
        "summary": "見積書の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の見積書を削除する</p>",
        "operationId": "destroy_quotation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/deals": {
      "get": {
        "tags": ["Deals"],
        "summary": "取引（収入／支出）一覧の取得",
        "description": "<h2 id=\"\">概要</h2>\n<p>指定した事業所の取引一覧（収入／支出）を取得する</p>\n<h2 id=\"_2\">定義</h2>\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n<li>\n<p>due_date : 支払期日</p>\n</li>\n<li>\n<p>amount : 金額</p>\n</li>\n<li>\n<p>due_amount : 支払残額</p>\n</li>\n<li>\n<p>type</p>\n<ul>\n<li>income : 収入</li>\n<li>expense : 支出</li>\n</ul>\n</li>\n<li>\n<p>details : 取引の明細行</p>\n</li>\n<li>\n<p>accruals : 取引の債権債務行</p>\n</li>\n<li>\n<p>renews : 取引の+更新行</p>\n</li>\n<li>\n<p>payments : 取引の支払行</p>\n</li>\n<li>\n<p>from_walletable_type</p>\n<ul>\n<li>bank_account : 銀行口座</li>\n<li>credit_card : クレジットカード</li>\n<li>wallet : 現金</li>\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul>\n</li>\n<li>\n<p>registered_from</p>\n<ul>\n<li>all : すべての取引</li>\n<li>me : 自身が登録した取引</li>\n</ul>\n</li>\n</ul>\n<h2 id=\"_3\">注意点</h2>\n<ul>\n<li>tax_idは廃止予定です。tax_codeをご利用ください。</li>\n<li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>\n<li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li>\n</ul>",
        "operationId": "get_deals",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "account_item_id",
            "in": "query",
            "description": "勘定科目IDで絞込",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "決済状況で絞込 (未決済: unsettled, 完了: settled)",
            "schema": {
              "type": "string",
              "enum": ["unsettled", "settled"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "収支区分 (収入: income, 支出: expense)",
            "schema": {
              "type": "string",
              "enum": ["income", "expense"]
            }
          },
          {
            "name": "start_issue_date",
            "in": "query",
            "description": "発生日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_issue_date",
            "in": "query",
            "description": "発生日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_due_date",
            "in": "query",
            "description": "支払期日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_due_date",
            "in": "query",
            "description": "支払期日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_renew_date",
            "in": "query",
            "description": "+更新日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_renew_date",
            "in": "query",
            "description": "+更新日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 100) ",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "registered_from",
            "in": "query",
            "description": "取引登録元アプリで絞込（me: 本APIを叩くアプリ自身から登録した取引のみ）",
            "schema": {
              "type": "string",
              "enum": ["me"]
            }
          },
          {
            "name": "accruals",
            "in": "query",
            "description": "取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）",
            "schema": {
              "type": "string",
              "enum": ["without", "with"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["deals", "meta"],
                  "properties": {
                    "deals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dealResponse/properties/deal"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": ["total_count"],
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "検索条件に合致する取引の総数",
                          "example": 100
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Deals"],
        "summary": "取引（収入／支出）の作成",
[...]
